body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
/* color */
.secondbc {
	background-color: #C4D7ED !important;
}
/* ajustes*/
.center{
	text-align: center !important;
}
/* fuente */
.comfortaa{
	font-family: 'Comfortaa', cursive;
}
.divselector{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  display: inline-block;
	border: 0.3em solid #183152;
	border-radius: 10px; /* para que solo ocupe el ancho de la imagen */
}

.divcol{
	border-radius: 10px;
}

.col-6, .col-2, .col-4, .col-8, .col-3{
  position: relative;
  min-height: 1px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.centerdiv{
  margin: auto;
}
.inputReg{
  margin-bottom: 0.2em;
  padding-left: 5px !important;
  padding-right: 5px !important;
  max-width: 90% !important;
}

.buttonReg{
  width: 100%;
  border-radius: 5px;
  padding: 0 !important;
}
.divReg{
  margin: auto;
  padding: 0 !important;
  border-radius: 5px;
	padding-bottom: 0.5em !important;
}

.containerReg{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
