html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
  }
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .rol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    margin: 0 auto;
    width: 95vw;
  }
  
  .rol__crud {
    width: 350px;
  }
  
  .rol__crud__container {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  
  .rol__crud__item {
    padding: 15px;
    border-bottom: 1px solid #747474;
    color: #7a7a7a;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  .rol__crud__item:first-child {
    border-top: 1px solid #747474;
    font-weight: bold;
    color: black;
  }
  
  .rol__crud__item--insert {
    height: 54px;
    padding: 0;
    white-space: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 15px;
  }
  
  .rol__crud__item--insert input {
    font-size: inherit;
    width: 70%;
    height: 70%;
    border-radius: 4px;
    border: 1px solid #747474;
    padding: 5px;
  }
  
  .rol__crud__item--insert input:focus {
    outline: 0;
  }
  
  .rol__table {
    -webkit-box-flex: 1;
        -ms-flex: 1 0;
            flex: 1 0;
    padding: 30px;
  }
  
  .rol__table__main {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    border: 1px solid black;
    padding: 7px 15px;
  }
  
  table td.icon {
    background-position: 50% 50%;
    background-size: 25px 25px;
    background-repeat: no-repeat;
  }
  
  table td.accept {
    background-image: url("Yes.png");
  }
  
  table td.reject {
    background-image: url("Erase.png");
  }
  
  .table--title {
    background: #747474;
    color: white;
    border-top: 5px solid #1f1f1f;
    text-align: left;
  }